<div class="container-fluid">
    <h5><u>Take, TakeLast and TakeUntil</u></h5>
  <br>
  <p class="bg-light py-2 px-3 bordered rounded">
    <strong>Random Name :</strong>'Ram','Josan','Alexa','Shyam','Nikita','Rajesh','John'
</p>
<hr>
<div class="row">
    <div class="col-md-4">
        <strong>Ex:01 | Task(5) </strong>
        <hr>
        <ul id="elContainer"></ul>

    </div>
    <div class="col-md-4">
        <strong>Ex:01 | TaskLast(3) </strong>
        <hr>
        <ul id="elContainer2"></ul>

    </div>
    <div class="col-md-4">
        <strong>Ex:01 | TaskUtil() </strong>
        <hr>
        <ul id="elContainer3"></ul>
    </div>
</div>

</div>