<div class="container-fluid">
    <h5><u>of and from Operator</u></h5>
    <br>

    <div class="row">
        <div class="col-md-6">
            <h6>Ex.: 01 (Of Operator)</h6>

            <p class="bg-light py-2 px-3 bordered rounded">
                <strong>Data :</strong>of('Ram','Josan','Alexa')
            </p>
            <hr>
            <ul id="elContainer" class="list">

            </ul>
        </div>

        <div class="col-md-6">
            <h6>Ex.: 02 (Of Operator)</h6>

            <p class="bg-light py-2 px-3 bordered rounded">
                <strong>Data :</strong>of(&#123;a:'Ram', b:'Josan', c:'Alexa'&#125;)
            </p>
            <hr>
            <ul class="list">
                <li><strong>a:</strong>{{obsMsg.a}}</li>
                <li><strong>b:</strong>{{obsMsg.b}}</li>
                <li><strong>c:</strong>{{obsMsg.c}}</li>

            </ul>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <h6>Ex.: 01 (from Operator) </h6>
            <hr>
            <h6>Array</h6>
            <p class="bg-light py-2 px-3 bordered rounded">
                <strong>Data :</strong>from(['Ram','Josan','Alexa'])
            </p>
            <hr>
            <ul id="elContainer2" class="list">

            </ul>
        </div>
        <div class="col-md-4">
            <h6>Ex.: 02 (from Operator) </h6>
            <hr>
            <h6>Promise</h6>
            <p class="bg-light py-2 px-3 bordered rounded">
                <strong>Data :</strong>Promise to Observable converatble
            </p>
            <hr>
            <ul id="elContainer3" class="list">

            </ul>
        </div>
        <div class="col-md-4">
            <h6>Ex.: 03 (from Operator) </h6>
            <hr>
            <h6>String</h6>
            <p class="bg-light py-2 px-3 bordered rounded">
                <strong>Data :</strong>String to Observable converatble
            </p>
            <hr>
            <ul id="elContainer4" class="list">

            </ul>
        </div>
    </div>

</div>