<!-- <app-change-detect></app-change-detect>
<app-live-news></app-live-news>
<app-add-customer-by-tpl-frm></app-add-customer-by-tpl-frm>
<app-add-customer-by-rct-frm></app-add-customer-by-rct-frm> -->
<!-- <app-angular-calculator></app-angular-calculator>
<app-angular-material-stepper></app-angular-material-stepper>
<app-angularmaterialdatepicker></app-angularmaterialdatepicker> -->
<!-- <app-angular-material-chips></app-angular-material-chips> -->
<app-angular-material-sidenav></app-angular-material-sidenav>
<router-outlet></router-outlet>
<!-- <router-outlet /> -->
