<div class="container">
  <!--section for simple Form functionality with submit reset and upadte form start -->
  <!-- <div class="card">
  <div class="mb-3">
    <label>
      <code>formState.disabled</code>
    </label>
    <div>
      <button class="btn btn-sm btn-primary" (click)="toggleDisabled()">Toggle</button>
    </div>
  </div>
  
  <form [formGroup]="form" (ngSubmit)="submit()">
    <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form"></formly-form>
    <button type="submit" class="btn btn-primary submit-button" [disabled]="!form.valid">Submit</button>
    <button type="submit" class="btn btn-primary submit-button" >Submit</button>
  
   <button type="button" class="btn btn-default" (click)="options?.resetModel()">Reset</button>
    <button type="button" class="btn btn-default" (click)="options?.updateInitialValue()">Update Intial Values</button>
  </form> 
</div> -->
  <!--section for simple Form functionality with submit reset and upadte form end -->



  <!--section for file upload Form  start -->
  <!-- <form [formGroup]="form" (ngSubmit)="submit()">
    <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form"></formly-form>
      <button type="submit" class="btn btn-primary submit-button" [disabled]="!form.valid || (model['file']==undefined)">Submit</button>

  </form> -->

  <!--section for file upload Form  end -->


  <!-- section for translate the language  start -->
  <!-- <form [formGroup]="form" (ngSubmit)="submit()">
    <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form"></formly-form>
    <button type="submit" class="btn btn-primary submit-button">Submit</button>
  </form> -->
  <!-- section for translate the language  end -->


  <!-- section for ag-grid implematation start -->
  <div class="card mb-2">
    <div class="card-body">
      <h4>ag-grid</h4>
      <form [formGroup]="form" (ngSubmit)="submit()">
        <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form"></formly-form>
        <button type="submit" class="btn btn-primary submit-button" [disabled]="!form.valid">Submit</button>

      </form>
    </div>

  </div>
 <!-- section for ag-grid implematation end -->


 
  


  <!-- <app-validationform></app-validationform> -->
  <!-- <app-json-powered></app-json-powered> -->
  <!-- <app-onchang-select></app-onchang-select> -->

  <app-materialtable></app-materialtable>
</div>