<div class="container-fluid">
    <h5><u>Tap/Do :
        
    </u>Used to perform side-effects for notifications from the source observable
    </h5>
    <p>Action Performing like console.log(data), change property value, Emit Value in Observable, perform any other Action</p>
    <br>
<div class="row" [ngStyle]="{'color':myColor}">
    <div class="col-md-6">
        <p>Ex:01</p>
        <hr>
        <ul class="list" id="elContainer"> </ul>
    </div>
    <div class="col-md-6">
        <p>Ex:02</p>
        <hr>
        <ul class="list" id="elContainer2"> </ul>
    </div>
</div>

    </div>