<div class="container">
    <div class="card">
        <div class="card">
            <div class="card-header">
                Task 9. a show user detail
            </div>
            <div class="card-body">
                <h3><b>User Detail</b></h3>
                <p>Id:<span>{{userData?.id}}</span></p> 
                <p>Email:<span>{{userData?.email}}</span></p>
                <p>First Name:<span>{{userData?.first_name}}</span></p>
                <p>Last Name:<span>{{userData?.last_name}}</span></p>

            </div>
        </div>
    </div>
</div>