.justify-content-space-between{
  justify-content: space-between;
}
.listCard{
    // height: 100x;
    width: 100%;
    background-color: aliceblue;
    padding: 45px;
    margin: 10px;
    text-align: center;
}