<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-space-between">

                    <div class="card listCard " routerLink="fromevent"> From Event </div>
                    <div class="card listCard" routerLink="interval"> Interval/ timer </div>
                    <div class="card listCard" routerLink="offfrom"> Of and From </div>
                    <div class="card listCard" routerLink="toarray"> toArray </div>
                    <div class="card listCard" routerLink="customeobservable"> Custom Observable</div>

                </div><br>
                <div class="d-flex justify-content-space-between">

                    <div class="card listCard" routerLink="map">Map </div>
                    <div class="card listCard" routerLink="pluck"> Pluck</div>
                    <div class="card listCard" routerLink="filter"> Filter </div>
                    <div class="card listCard" routerLink="tap"> Tap </div>
                    <div class="card listCard" routerLink="take">Take,takeLast, takeUntil </div>

                </div>
                <br>
                <div class="d-flex justify-content-space-between">

                    <div class="card listCard" routerLink="retry"> Retry, RetryWhen, Scan , Delay</div>
                    <div class="card listCard" routerLink="debounce"> DebounceTime And DistinctUntilChanged</div>
                    <div class="card listCard" routerLink="subject"> Subject And BehaviourSubject</div>
                    <div class="card listCard" routerLink="replaysubject"> ReplaySubject</div>
                    <div class="card listCard" routerLink="asyncsubject">AsyncSubject</div>
                </div>
                <br>
                <div class="d-flex justify-content-space-between">
                    <div class="card listCard" routerLink="concat"> Concat </div>
                    <div class="card listCard" routerLink="merge"> Merge</div>
                    <div class="card listCard" routerLink="mergemap"> MergeMap</div>

                    <div class="card listCard" routerLink="concatmap"> ConcatMap</div>
                    <div class="card listCard" routerLink="switchmap"> SwitchMap</div>
                 
                </div>

                
                




            </div>
        </div>
    </div>

</div>