<div class="container-fluid">
    <h5><u>Map Operator:return completely new Observable stream</u> Applies a given project function to each value emitted by the source Observable, and emits the resulting values as an Observable.</h5>
    <br>

    <div class="row">
        <div class="col-md-4">
            <strong>Ex-01</strong>
            <hr>
            <p class="bg-light py-2 px-3 bordered rounded"><strong>Map</strong>'Video'+data</p>
            <p>Massage<strong class="text-success"> {{msg1}}</strong></p>
        </div>


        <div class="col-md-4">
            <strong>Ex-02</strong>
            <hr>
            <p class="bg-light py-2 px-3 bordered rounded"><strong>Map</strong>data=> data* 3</p>
            <p>Massage<strong class="text-success"> {{msg2}}</strong></p>
        </div>
        <div class="col-md-4">
            <strong>Ex-03</strong>
            <hr>
            <p class="bg-light py-2 px-3 bordered rounded"><strong>Map</strong>Map Object Data</p>
<ul id="elContainer" class="list">

</ul>        </div>
    </div>
</div>



